

@model ShopApp.WebUI.Models.ProductListModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">

        @*CategoryList ViewwComponent ini çağırıyoruz*@
        @await Component.InvokeAsync("CategoryList")
    </div>

    <div class="col-md-9">

        @Html.Partial("_slider")


        <div class="row">
            @foreach (var product in Model.Products)
            {
                <partial name="_product" for="@product" />


            }
        </div>
    </div>
</div>





